.App {
  text-align: center;
  display: grid;
  grid-template-columns: 0.8fr;
  grid-template-rows: 10vh 80vh 10vh;
  justify-content: center;
  align-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 0.1fr;
  align-items: center;
  justify-content: space-between;
}

footer{
  display: grid;
  align-items: center;
  justify-items: center;
}

footer a{
  color: white;
}

footer span{
  color: white;
}

.legends{
  position: absolute;
  right: 0px;
  bottom: 0;
  color: white;
}

h1{
  color: white;
  font-size: 1.8em;
}

.options{
  display: grid;
  grid-template-columns: 0.4fr 0.4fr;
  grid-template-rows: 1fr;
  justify-content: end;
  column-gap: 10px;
}

.sub-option {
  display: grid;
  grid-template-rows: 5vh 5vh;
  justify-content: center;
  align-items: center;
}

.sub-option h2{
  color: white;
  font-size: 1.3em;
}

.sub-option .check{
  width: 50px;
  height: 20px;
  border-radius: 50px;
  padding: 2px;
  cursor: pointer;
  background-color: white;
  transition: 0.5s;
  display: grid;
  justify-content: start;
  align-content: center;
}

.sub-option .check .circle{
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 100%;
  transition: 0.5s;
}

.sub-option.active .check{
  background-color: green;
  justify-content: end;
}

.main{
  width: 100%;
  max-width: 1080px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 0.1fr;
  justify-items: center;

}

.block.Y, #yellow{
  background-color: yellow;
}

.block.R, #red{
  background-color: red;
  color: white;
}

.block.B, #blue{
  background-color: blue;
  color: white;
}

.block.G, #green{
  background-color: green;
  color: white;
}

.block.O, #orange{
  background-color: orange;
}

.block.W, #white{
  background-color: white;
}

.active.main {
  display: grid;
  grid-template-rows: 0.8fr 0.1fr 0.1fr;
  align-items: center;
}

.active.cube-container{
  width: 200px;
  height: 200px;
  perspective: 600px;
  transition: 1s;
  margin-bottom: 50px;
}

.active .cube{
  width: 100%;
  height: 100%;
  /* position: relative; */
  transform-style: preserve-3d;
  transition: transform 1s;
  transition: 1s;
}

.active .cube.white-front{
  transform: rotateY(45deg) rotateX(-15deg) rotateZ(-15deg);
}

.active .cube.orange-front{
  transform: rotateY(-48deg) rotateX(-15deg) rotateZ(15deg);
}

.active .cube.red-front{
  transform: rotateY(133deg) rotateX(15deg) rotateZ(-15deg);
}

.active .cube.green-front{
  transform: rotateY(45deg) rotateX(-90deg) rotateZ(00deg);
}

.active .cube.blue-front{
  transform: rotateY(45deg) rotateX(90deg) rotateZ(0deg);
}

.active .cube.yellow-front{
  transform: rotateY(225deg) rotateX(15deg) rotateZ(15deg);
}


.active .side{
  display: grid;
  grid-template-columns: 67px 67px 67px;
  background-color: black;
  margin: 2px;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  width: 201px;
  height: 201px;
  transition: 1s;
}

.block{
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.active .block{
  margin: 3px;
  width: 60px;
  height: 60px;
  font-size: 22px;
  transition: 1s;
}

.active .side.U{
  position: absolute;
  transform: rotateX( 90deg);
  transform: rotateX( 90deg) translateZ(105px);
  transition: 1s;
}

.active .side.L{
  position: absolute;
  transform: rotateY(-90deg);
  transform: rotateY(-90deg) translateZ(105px);
  transition: 1s;
}

.active .side.F{
  position: absolute;
  transform: rotateY(  0deg); 
  transform: rotateY(  0deg) translateZ(105px);
  transition: 1s;
}

.active .side.R{
  position: absolute;
  transform: rotateY( 90deg);
  transform: rotateY( 90deg) translateZ(105px);
  transition: 1s;
}

.active .side.B{
  position: absolute;
  transform: rotateY(180deg);
  transform: rotateY(180deg) translateZ(105px); 
  transition: 1s;
}

.active .side.D{
  position: absolute;
  transform: rotateX(-90deg); 
  transform: rotateX(-90deg) translateZ(105px);
  transition: 1s;
}

/* OFF 3D */

.not-active .cube{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  width: 640px;
  position: relative;
  transition: 1s;
}

.not-active .side{
  display: grid;
  grid-template-columns: 50px 50px 50px;
  background-color: black;
  margin: 2px;
  margin-top: 155px;
  padding: 2px;
  border-radius: 5px;
  transition: 1s;
}

.not-active .block{
  margin: 2px;
  width: 45px;
  height: 45px;
  transition: 1s;
}

.not-active .side:first-child{
  position: absolute;
  left: 158px;
  margin-top: 0px;
  transition: 1s;
}

.not-active .side:last-child{
  position: absolute;
  left: 158px;
  bottom: -155px;
  margin-top: 0px;
  transition: 1s;
}

.not-active.cube-container{
  transition: 1s;
}

.arrow{
  opacity: 1;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.arrow:hover{
  opacity: 0.5;
}

.arrow-left{
  top: 320px;
  left: 300px;
}

.arrow-right{
  top: 320px;
  right: 300px;
  transform: rotate(180deg);
}

.arrow-up{
  top: 120px;
  left: 525px;
  transform: rotate(90deg);
}

.arrow-bottom{
  top: 550px;
  left: 525px;
  transform: rotate(270deg);
}

@media (max-width: 780px) {
  header{
    flex-direction: column;
  }
}


.click{
  width: 50%;
}

.options-3d{
  /* position: absolute; */
  bottom: 70px;
  display: grid;
  grid-template-columns: repeat(6, 60px);
  column-gap: 5px;
}

.options-3d button, .buttons button {
  padding: 8px;
  width: 60px;
  height: 35px;
  border: none;
  border-radius: 7px;
  font-weight: bold;
}