.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Y{
  background-color: yellow;
}

.R{
  background-color: red;
}

.B{
  background-color: blue;
}

.G{
  background-color: green;
}

.O{
  background-color: orange;
}

.W{
  background-color: white;
}

.cube{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.side{
  display: grid;
  grid-template-columns: 50px 50px 50px;
}

.block{
  margin: 2px;
  width: 45px;
  height: 45px;
}

.side:first-child{
  width: 100%;
  padding-left: 150px;
}

.side:last-child{
  width: 100%;
  padding-left: 150px;
}

.cube-container{
  margin-top: 100px;
}