.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  margin: 20px;
}

.Y{
  background-color: yellow;
}

.R{
  background-color: red;
}

.B{
  background-color: blue;
}

.G{
  background-color: green;
}

.O{
  background-color: orange;
}

.W{
  background-color: white;
}

.cube{
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  position: relative;
}

.side{
  display: grid;
  grid-template-columns: 50px 50px 50px;
  background-color: black;
  margin: 2px;
  margin-top: 155px;
  padding: 2px;
  border-radius: 5px;
}

.block{
  margin: 2px;
  width: 45px;
  height: 45px;
  font-size: 0px;
}

.side:first-child{
  position: absolute;
  left: 158px;
  margin-top: 0px;
}

.side:last-child{
  position: absolute;
  left: 158px;
  bottom: -155px;
  margin-top: 0px;
}

.cube-container{
  margin-top: 50px;
}